.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-button, .right-button {
    width: 100px;
    height: 100px;
    background-color: pink;
}

.editor, .rendered {
    width: 50vw;
    height: 40vh;
    border: solid 1px #000;
}

.editor {
    margin-bottom: 10px;
}

